footer {
    padding: 40px 0 100px 0;
}
footer .nav-link {
	color: rgba(255, 255, 255, 0.75);
	padding-left: 0;
	padding-right: 0;
	margin: 0 10px;
}
footer .nav-link:hover {
	color: #fff;
}
footer .nav-link.active {
	color: #fff;
	border-bottom: 1px solid #666;
}
footer .copyrights {
	color: rgba(255, 255, 255, 0.75);
	text-align: center;
	margin-top: 10px;
}
footer .copyrights a {
	color: rgba(255, 255, 255, 0.75);
}
footer .copyrights a:hover {
	color: #fff;
}

.container2{
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    
}
.nav-gap{
    margin: 10px 10px;
}