.section {
    width: 100%;
    margin: auto;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
}
.cards {
    width: 250px;
    padding: 20px;
}
.cards:hover{
    box-shadow: 0 10px 10px 10px rgb(0,0,0,0.1);
    cursor: pointer;
}
.title {
    color: rgb(174, 86, 86);
    font-weight: 700;

}
.text{
font-size: 13px;
}